@model Codefirstapproach.Models.user

@{
    ViewBag.Title = "Login";
}

    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>

    </head>
    <body style="background-color:burlywood">

        <center><h2>Login Account</h2></center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-5">

                    <div class="form-horizontal ">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Login" class="btn btn-block btn-primary" /> <br />
                                Don't have an account?
                                <a class="register-link"><b>@Html.ActionLink("SignUp here", "Register", "Account")</b></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>

        }
    </body>
